.header {
  text-align: center;
}
.menu {
  margin: 1rem 0;
  width: 100%;
  height: 3rem;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.wrapper {
  width: 100%;
  height: 12rem;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}
.progress {
  width: 2rem;
  height: 100%;
  background-color: gray;
  vertical-align: bottom;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 8px;
}
.fill {
  width: 100%;
  background-color: orange;
  border-radius: 8px;
}
