.App {
  text-align: center;

  color: white;
  position: absolute;
  left: 10%;
  top: 0%;
  transform: translate(0, 0);
  width: 80%;
  min-width: 400px;
  height: fit-content;
  max-width: 1440px;
}
